body {
  margin:0;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,
  "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Segoe UI Symbol";
  font-size:1rem;font-weight:400;line-height:1.5;
  color:#212529;text-align:left;background-color:#fff
  }
svg {
    overflow: visible !important;
}
table {
    box-sizing: border-box;
    border-collapse: collapse;
}
.label{
  width: auto;
  border: 1px solid;
  border-bottom-style: none;
}
.node-content{
  width: max-content;
  text-align: left;
  border: 1px solid;
  padding: 28px;
  font-family: Consolas, monaco, monospace;
  font-size: 14px; font-style: normal;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eqv-node-content{
  margin-right: 16px;
  max-width: 400px;
  border: 1px solid;
  padding: 16px;
}
pre{
  font-family: Consolas, monaco, monospace;
  font-size: 14px; font-style: normal;
  line-height: normal;
}
.static_text_bottom {
    margin-bottom: 100px;
  }
  
.combopal-navbar {
    margin-bottom: 20px;
}

.Treant-loaded {
  margin-top: 30px !important;
}

.Treant {
  margin: auto;
  overflow: visible !important;
}

.Treant .node .collapse-switch {
  text-align: center;
  height: 20px;
  width: 20px;
  top: -23px;
  right: -24px;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.Treant .node .collapse-switch:hover {
  opacity: 0.5;
}

.Treant .node .collapse-switch:after {
  content: '-';
}

.Treant .node.collapsed .collapse-switch:after {
  content: '+';
}

.Treant .node.collapsed .collapse-switch {
  background-color: white;
}

.node {
  text-align: center;
  color: black;
  text-decoration: none;
}

.and-gate {
  margin-top: -11px;
  margin-left: -1px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  height: 25px;
  width: 20px;
  border: 1px solid black;
  background-color: white;
}

.and-gate>span {
  top: 50%;
  margin: 50% auto;
}

.and-gate:empty {
  background-image: repeating-linear-gradient(-45deg, transparent, black 2px, rgba(255, 255, 255, .5) 2px, rgba(255, 255, 255, .5) 5px);
}


.tooltip {
  transform: perspective(1px) scale(1.1);
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  pointer-events: none;
  z-index: 1080;
  opacity: 0.97 !important;
  padding: 0 30px 0 30px;
}

.tooltip-inner {
  overflow: visible;
  background-color: white;
  color: black;
  z-index: 1070;
  max-width: 1000px;
  text-align: left;
  font-family: Consolas, monaco, monospace;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  max-width: none !important;
}

.tiling{
  border: 1px solid;
  width: 22px;
  height: 22px;
  text-align: center;
}

.tiling-table {
  margin: 1em;
  overflow: visible;
  background-color: transparent;
  z-index: 1070;
}

.tiling-table td {
  border: 1px solid black;
  line-height: 1em;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: 1;
}

.tiling-node {
  border: 1px solid black;
  padding: 10px;
}

.tiling-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.tree-input {
  width: 100%;
  height: 400px;
  resize: vertical;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.navbar-dropdown {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
}
.cached-tree-card {
  cursor: pointer;
}

.cached-tree-card:hover {
  transition: background-color 0.1s ease-in;
  background-color: #eee;
}

.set-partition {
    margin: 10px;
    table-layout: fixed;
}

.set-partition table, .set-partition th, .set-partition td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.set-partition td {
    width: 30px;
    height: 30px;
    text-align: center;
}

.set-partition .rest {
    border-left: 3px solid black;
    padding-left: 5px;
}

.concrete {
    border-right: none;
}

.point_cell:before {
    content: "â€¢";
}

.point_row:after, .shaded_cell:after{
    content: "\00a0";
}
.point_row, .shaded_cell{
    height: 10px;
    background-image: repeating-linear-gradient(-45deg,
                transparent,
                black 2px,
                rgba(255, 255, 255, .5) 2px,
                rgba(255, 255, 255, .5) 5px);
}

.unfinished_cell:before {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    content: "â‹®";
}

@media print {
  body {-webkit-print-color-adjust: exact;}
}